.profile {
    max-width: 880px;
    margin: 0 auto;
    padding: 36px 0 47px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 880px) {
    .profile {
        padding: 40px 19px 50px;
    }
}



@media screen and (max-width: 937.5px) {
    .profile {
        flex-direction: column;
        padding-top: 38px;
        padding-bottom: 36px;
    }
}