.profile-info__job {
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    max-width: 294px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 937.5px) {
    .profile-info__job {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 600px) {
    .profile-info__job {
        max-width: 189px;
    }
}